<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        {% extends "template.html" %}
        {% block content %}

        <div class="w3-container" style="padding:128px 16px">
            <h1 class="title w3-center">About</h1>
            <div class="w3-row-padding" style="margin-top:64px">
                <div class="w3-row-padding" style="margin-top:64px">
                    <div class="w3-third w3-section">
                        <ul class="w3-ul w3-white w3-hover-shadow">
                            <li class="w3-black w3-xlarge w3-padding-32">About: Band Bucks</li>
                            <li class="w3-padding-16"><p>Band Bucks is a digital incentive platform created by students of the Independence Band program and run by Mr. Harrington with the help of students.</p></li>
                        </ul>
                    </div>
                    <div class="w3-third w3-section">
                        <ul class="w3-ul w3-white w3-hover-shadow">
                            <li class="w3-black w3-xlarge w3-padding-32">About the Project</li>
                            <li class="w3-padding-16"><p>Band Bucks as a program was created in 2020 by a group of band students. Band Bucks was orginally a little what if idea by the students that overtime took form into this platform.
                                                         Band Bucks is 100% student maintatined and run through the Independence Band program, all ideas and features of Band Bucks are created and disigned by the students of the Independence Band program and approved by Mr. Harrington.
                            </p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
    </body>

</html>