<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% extends "template.html" %}

    {% block content %}
    <div class="column is-4 is-offset-4" style="padding:128px 16px">
        <h3 class="title w3-center">Add</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form action="/manage/add" method="POST">

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="amount" placeholder="Amount">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            </form>
        </div>
    </div>
    {% endblock %}

  </body>
</html>